body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 70%;
}

.link-button {
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 7px;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

#second-image-padding {
    padding-left: 100px;
}

#padding-right {
    padding-right: 15%;
}

.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.Experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-item {
    box-shadow: 10px 10px 30px gray;
    width: 25%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;

}

#Baby {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(0, 255, 115), rgb(37, 2, 31));
    border-image-slice: 1;
}

footer p {
    text-align: center;
}